.info-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 300px;
    background-color: $c-white;
    border-radius: $br-5;

    @include max(laptop) {
        min-height: 210px;
    }

    @include max(xs) {
        min-height: 150px;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 30px;
        gap: 10px;
        border-bottom: 1px solid rgba(20, 20, 20, 0.2);

        @include max(tablet) {
            padding: 20px;
        }

        @include max(mobile) {
            padding: 15px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;

        @include max(laptop) {
            font-size: 32px;
        }

        @include max(tablet) {
            font-size: 26px;
        }

        @include max(mobile) {
            font-size: 20px;
        }
    }

    &__num {
        flex: 0 0 auto;
        font-family: $ff-numbers;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        color: $c-border;

        @include max(mobile) {
            font-size: 16px;
        }
    }

    &__text {
        margin-top: auto;
        padding: 30px;

        @include max(tablet) {
            padding: 20px;

            br {
                display: none;
            }
        }

        @include max(mobile) {
            padding: 15px;
        }
    }
}

.info-card {

    &--small &__top {
        min-height: 140px;
    }

    &--small &__title {
        font-weight: 600;
        font-size: 29px;
        line-height: 110%;

        @include max(laptop) {}

        @include max(tablet) {
            font-size: 26px;
        }

        @include max(mobile) {
            font-size: 20px;
        }
    }
}