// шрифты
$ff-main: 'Raleway', sans-serif;

// media
$media-list: (
    'xs': 500,
    'mobile': 767,
    'tablet': 1023,
    'laptop': 1260,
    'large': 1800,
    'full': 2000,
);

// Цвета
$c-white: #fff;
$c-black: #000;
$c-bg-main: #F3F7F9;
$c-text: #212121;
$c-title: #000;
$c-accent: #0528B6;
$c-border: #A3A3A3;



$c-bg-grey: #434342;
$c-bg-grey-dark: #1B1B1A;
$c-accent-hover: #865F46;
$c-text-grey: #B1B1B1;
$c-text-light: #BDBDBD;
$c-error: #EA4C3A;
$c-logo-light: #FEFEFE;
$c-tag-sale: #B10024;
$c-tag-new: #0D6E00;
$c-favorite: #841315;
$c-bullet-active: #614330;
$c-cards-bg: #1B1B1B;
$c-bg-input: transparent;

// переходы
$tr: .3s linear;
$tr-long: .5s linear;