// шрифты
$ff-main: 'Raleway', sans-serif;
$ff-preloader: 'Raleway', sans-serif;
$ff-numbers: 'Source Code Pro', monospace;

// media
$media-list: (
    'xs': 500,
    'mobile': 767,
    'tablet': 1023,
    'laptop': 1260,
    'large': 1800,
    'full': 2000,
);

// Цвета
$c-white: #fff;
$c-black: #000;
$c-bg-main: #F3F7F9;
$c-text: #212121;
$c-text-grey: #6A6A6A;
$c-title: #000;
$c-link: #286AFF;
$c-accent: #0528B6;
$c-accent-hover: #041b79;
$c-accent-light: #8CB3FF;
$c-border: #A3A3A3;
$c-error: #FF4876;
$c-error-dark: #FF3621;
$c-success: #00B67A;



$c-bg-grey: #434342;
$c-bg-grey-dark: #1B1B1A;
$c-text-light: #BDBDBD;
$c-logo-light: #FEFEFE;
$c-tag-sale: #B10024;
$c-tag-new: #0D6E00;
$c-favorite: #841315;
$c-bullet-active: #614330;
$c-cards-bg: #1B1B1B;
$c-bg-input: transparent;

// скругления
$br-5: 5px;

// переходы
$tr: .3s linear;
$tr-long: .5s linear;