.p-catalog {
    &__container {
        display: flex;
        align-items: stretch;
        gap: 24px;

        @include max(laptop) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include max(mobile) {
            gap: 16px;
        }
    }

    &__sidebar {
        padding-right: 24px;
        flex: 0 0 437px;
        overflow: hidden;
        max-width: calc(100% - (100% - 437px));
        border-right: 1px solid transparent;
        border-color: transparent;
        transition: border-color 0.3s linear 0.4s;

        @include max(large) {
            flex: 0 0 390px;
            max-width: calc(100% - (100% - 390px));
        }

        @include max(laptop) {
            border-right: none;
            flex: 0 0 auto;
            max-width: none;
        }
    }

    &:has(.catalog-filter.aos-animate) &__sidebar {
        border-color: $c-border;
    }

    &__filter {
        width: 100%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;

        @include max(large) {
            gap: 16px;
        }

        @include max(laptop) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(xs) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__controls {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    &__more {
        border-radius: 0;
        color: $c-text;

        &:hover {
            border-radius: 0;
        }
    }

    &__controls+&__banner {
        margin-top: 30px;
    }
}