.not-found {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: stretch;

    @include max(tablet) {
        min-height: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;

        @include max(tablet) {
            padding: 20vh 0;
        }
    }

    &__title {
        text-align: center;
        font-size: 170px;

        @include max(large) {
            font-size: 150px;
        }

        @include max(laptop) {
            font-size: 150px;
        }

        @include max(tablet) {
            font-size: 120px;
        }

        @include max(mobile) {
            font-size: 90px;
        }

        @include max(xs) {
            font-size: 70px;
        }
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 40px;

        @include max(mobile) {
            margin-bottom: 24px;
            margin-top: 5px;
        }
    }

}