.copy-text {
    position: relative;
    color: $c-text;
    display: flex;

    &__btn {
        position: absolute;
        top: -11.5px;
        left: calc(100% + 3px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 14px;
            height: 14px;
        }

    }

    &__notice {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: $c-white;
        border-radius: 4px;
        background-color: $c-border;
        padding: 2px 4px;
        position: absolute;
        left: calc(100% + 3px);
        bottom: calc(100% + 11.5px);
        opacity: 0;
        visibility: hidden;
        transition: all $tr;
        transform: translate(-50%, 0%);

        &.active {
            transform: translate(-50%, -50%);
            opacity: 1;
            visibility: visible;
        }

    }

    &--light {
        color: $c-white;
    }

}