.copy-text {
    position: relative;
    display: flex;
    color: $c-text;

    &__btn {
        position: absolute;
        top: -11.5px;
        left: calc(100% + 3px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 14px;
            height: 14px;
        }

    }

    &__notice {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: $c-white;
        border-radius: $br-5;
        background-color: $c-border;
        padding: 2px 4px;
        position: absolute;
        left: calc(100% + 14px);
        top: -11.5px;
        opacity: 0;
        visibility: hidden;
        transition: all $tr;

        &.active {
            left: calc(100% + 19px);
            opacity: 1;
            visibility: visible;
        }

    }

    &--light {
        color: $c-white;
    }

}