.s-selection {
    &__container {
        display: flex;
        align-items: stretch;
        gap: 24px;

        @include max(tablet) {
            flex-direction: column;
        }
    }

    &__left {
        position: relative;
        flex: 0 1 50%;
        padding: 40px 40px 50px;
        border-radius: $br-5;
        overflow: hidden;

        @include max(laptop) {
            padding: 30px 30px 40px;
        }

        @include max(tablet) {
            flex: 0 0 auto;
            padding: 24px;
            min-height: 300px;
        }

        @include max(xs) {
            min-height: 200px;
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        height: 100%;
    }

    &__title {
        margin-bottom: auto;

        @include max(large) {
            font-size: 48px;
        }

        @include max(laptop) {
            font-size: 36px;
        }

        @include max(xs) {
            font-size: 28px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: $c-white;

        @include max(tablet) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 16px;
        }

        @include max(mobile) {
            br {
                display: none;
            }
        }
    }

    &__right {
        flex: 0 1 50%;
        padding: 40px;
        background-color: $c-white;
        border-radius: $br-5;

        @include max(laptop) {
            padding: 30px;
        }

        @include max(tablet) {
            flex: 0 0 auto;
            padding: 24px;
        }

        @include max(xs) {
            padding: 12px;
        }
    }

    &__form {
        @include max(xs) {
            .vt-btn {
                width: 100%;
            }

            .vt-btn__text {
                margin-right: auto;
            }
        }
    }

    &__title+&__form {
        margin-top: 50px;

        @include max(mobile) {
            margin-top: 32px;
        }
    }
}