.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    padding-top: 20px;
    padding-bottom: 20px;

    @include max(large) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @include max(mobile) {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $c-white;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @include max(large) {
            gap: 24px;
        }

        @include max(mobile) {
            gap: 16px;
        }
    }

    &__side {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        gap: 30px;

        @include max(large) {
            gap: 16px;
        }
    }

    &__side--bg {
        align-items: center;
        flex: 0 0 auto;
        background-color: $c-white;
        border-radius: $br-5;
        padding: 13px 20px;
        gap: 25px;
        margin-right: auto;

        @include max(mobile) {
            padding: 0;
        }
    }

    &__logo {
        flex: 0 0 227px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 227px;
            height: 33px;

            @include max(large) {
                width: 190px;
                height: 28px;
            }

            @include max(mobile) {
                width: 150px;
                height: 21.8px;
            }
        }

        @include max(large) {
            flex: 0 0 190px;
        }

        @include max(mobile) {
            flex: 0 0 150px;
        }
    }

    &__separator {
        width: 1px;
        height: 30px;
        background-color: $c-border;
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 20px;

        @include max(large) {
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            padding-right: 10px;
        }

        @include max(mobile) {
            display: none;
        }
    }

    &__contact {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: $c-title;

        @include max(large) {
            font-size: 14px;
        }
    }

    a.site-header__contact {
        transition: all $tr;

        &:hover {
            color: $c-accent;
        }

    }

    &--fixed {
        background-color: $c-bg-main;
    }

    &__menu,
    &__separator {
        @include max(laptop) {
            display: none;
        }
    }

    &__burger {
        display: none;
        color: $c-accent;
        transition: all $tr;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

        svg {
            width: 40px;
            height: 40px;

            @include max(mobile) {
                width: 32px;
                height: 32px;
            }
        }

        @include max(laptop) {
            display: flex;
        }
    }
}