.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    padding-top: 20px;
    padding-bottom: 20px;

    @include max(large) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @include max(mobile) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__logo {
        flex: 0 0 140px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 140px;
            height: 81px;
        }

        @include max(tablet) {
            flex-basis: 70px;

            svg {
                width: 70px;
                height: 40.5px;
            }
        }
    }

    &__side {
        flex: 0 1 auto;
        display: flex;
        align-items: flex-start;
        gap: 25px;

        @include max(large) {
            gap: 12px;
        }

        @include max(laptop) {
            display: none;
        }
    }

    &__logo+&__side {
        justify-content: flex-end;
    }

    &__side--center {
        align-items: center;
    }

    &__side--mobile {
        @include max(laptop) {
            display: flex;
            flex: 1 1 auto;

            .main-menu {
                flex: 1 1 auto;
            }


            .main-menu .main-menu__search {
                margin-left: auto;
            }
        }

        @include max(tablet) {
            .main-menu .main-menu__items {
                display: none;
            }
        }
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        color: $c-white;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;

        @include max(large) {
            gap: 12px;
        }
    }

    &__contact {
        color: $c-white;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $c-white;

        @include max(large) {
            font-size: 16px;
        }
    }

    a.site-header__contact,
    a.site-header__control {
        transition: all $tr;

        &:hover {
            color: $c-accent;
        }

    }

    &__controls {
        display: flex;
        align-items: center;
        align-self: center;
        gap: 20px;

        @include max(large) {
            gap: 12px;
        }
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-white;

        svg {
            width: 24px;
            height: 24px;

            @include max(large) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__nav {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        @include max(laptop) {
            display: none;
        }
    }

    &--fixed {
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(40px);
    }

    .main-menu {
        transition: background-color 0.3s linear;
    }

    &__burger {
        display: none;
        color: $c-accent;
        transition: all $tr;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;

        svg {
            width: 32px;
            height: 32px;

            @include max(xs) {
                width: 26px;
                height: 26px;
            }
        }

        @include max(laptop) {
            display: flex;
        }
    }
}

.site-header {
    &__small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
    }

    &__small &__logo {
        width: 50px;
        height: 50px;
        flex: 0 0 50px;

        @include max(laptop) {
            width: 40px;
            height: 40px;
            flex: 0 0 40px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.site-header {
    &--full {
        transition: top $tr-long 0.7s, background-color $tr-long;

        @include max(laptop) {
            top: -101px;
        }

        @include max(tablet) {
            top: -61px;
        }
    }

    &--full &__small {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height $tr-long, margin-top $tr-long, opacity $tr-long;

        @include max(laptop) {
            height: auto !important;
            overflow: visible;
            opacity: 1;
            margin-top: 20px;
        }

        @include max(tablet) {
            margin-top: 15px;
        }
    }

    &--full.site-header--fixed &__small {
        overflow: visible;
        margin-top: 20px;
        opacity: 1;
        transition: height $tr-long 0.7s, margin-top $tr-long 0.7s, opacity $tr-long 0.7s;

        @include max(tablet) {
            margin-top: 15px;
        }
    }

    &--full.site-header--fixed {
        top: -177px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(20px);
        transition: top $tr-long, background-color $tr-long 0.7s;

        @include max(large) {
            top: -157px;
        }

        @include max(laptop) {
            top: -101px;
        }

        @include max(tablet) {
            top: -61px;
        }
    }
}