mixin header
    header.site-header(data-js="siteHeader")
        .section
            .vt-container
                .site-header__container
                    .site-header__side.site-header__side--center
                        a.site-header__logo(href="/")
                            img(src="img/logo_full.svg" alt="")
                        +main-menu({
                            classes: 'site-header__menu'
                        })

                    .site-header__side
                        .site-header__contacts
                            a.site-header__contact(href="tel:+78002220026") +7 (800) 222-00-26
                            +btn({
                                type: 'button',
                                name: 'Заказать звонок',
                                cMode: 'transparent',
                                icon: 'arrow_top_right'

                            })(data-modal="#callbackModal")
                        .site-header__controls
                            a.site-header__control(href="javascript:void(0);")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#favorite`)
                            a.site-header__control(href="javascript:void(0);")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#basket`)
                            a.site-header__control(href="javascript:void(0);")
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#lk`)

                    .site-header__burger(data-js='mainBurgerOpen')
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#main_burger`)