mixin header
    header.site-header(data-js="siteHeader")
        .section
            .vt-container
                .site-header__container(data-aos="fade-down")
                    .site-header__side.site-header__side--bg
                        a.site-header__logo(href="/")
                            img(src="img/logo_full.svg" alt="")
                        .site-header__separator
                        +main-menu({
                            classes: 'site-header__menu'
                        })

                    .site-header__side
                        .site-header__contacts
                            +copy-text
                                a.site-header__contact(href="mailto:info2@valvetechgroup.com") info2@valvetechgroup.com
                            a.site-header__contact(href="tel:+78002220026") +7 (800) 222-00-26
                        +btn({
                            classes: 'vt-btn--ma',
                            type: 'button',
                            name: 'Заказать звонок',
                            icon: 'handset'

                        })(data-modal="#callbackModal")

                    .site-header__burger(data-js='mainBurgerOpen')
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#main_burger`)