.s-title {
    padding-top: 20px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        @include max(tablet) {
            gap: 20px;
        }
    }

    &__text {
        max-width: 1052px;
    }
}