.company-details {
    &__content {
        display: grid;
        grid-template-columns: minmax(0, 40.879%) minmax(0, auto);
        gap: 24px;
        margin-top: 30px;

        @include max(tablet) {
            gap: 12px;
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
            margin-top: 20px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        background-color: $c-white;
        border-radius: $br-5;

        @include max(laptop) {
            gap: 20px;
            padding: 20px;
        }

        @include max(tablet) {
            gap: 12px;
            padding: 12px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px 24px;
        padding-bottom: 20px;

        @include max(laptop) {
            gap: 12px;
            padding-bottom: 10px;
        }

        @include max(xs) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding-bottom: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }

    &__param {
        font-weight: 600;
        font-size: 22px;
        line-height: 120%;
        min-width: 100px;

        @include max(large) {
            font-size: 20px;
        }

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(tablet) {
            font-size: 16px;
        }
    }

    &__value {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;

        @include max(large) {
            font-size: 18px;
        }

        @include max(laptop) {
            font-size: 16px;
        }

        @include max(tablet) {
            font-size: 14px;
        }
    }

    &__grid &__item {
        @include min(large) {
            flex-direction: row;
        }
    }
}