.company-details {
    &__content {
        display: grid;
        grid-template-columns: minmax(0, 40.879%) minmax(0, auto);
        gap: 24px;
        margin-top: 30px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        background-color: $c-white;
        border-radius: $br-5;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px 24px;
    }
}