mixin mixins()
    //- Компоненты
    include ../../blocks/components/main-menu/main-menu
    include ../../blocks/components/field/field
    include ../../blocks/components/field-file/field-file
    include ../../blocks/components/form/form
    include ../../blocks/components/btn/btn
    include ../../blocks/components/dl-btn/dl-btn
    include ../../blocks/components/modal/modal
    include ../../blocks/components/title/title
    include ../../blocks/components/slider-controls/slider-controls
    include ../../blocks/components/copy-text/copy-text
    include ../../blocks/components/category-card/category-card
    include ../../blocks/components/info-card/info-card
    include ../../blocks/components/catalog-filter/catalog-filter
    include ../../blocks/components/product-card/product-card
    include ../../blocks/components/pagination/pagination
    include ../../blocks/components/product-banner/product-banner
    include ../../blocks/components/field-range/field-range
    include ../../blocks/components/review-card/review-card

    //- Модули
    include ../../blocks/modules/preloader/preloader
    include ../../blocks/modules/header/header
    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/modals/modals
    include ../../blocks/modules/breadcrumbs/breadcrumbs
    include ../../blocks/modules/home-intro/home-intro
    include ../../blocks/modules/categories-list/categories-list
    include ../../blocks/modules/s-advantages/s-advantages
    include ../../blocks/modules/s-about/s-about
    include ../../blocks/modules/s-partners/s-partners
    include ../../blocks/modules/img-intro/img-intro
    include ../../blocks/modules/p-catalog/p-catalog
    include ../../blocks/modules/catalog-item/catalog-item
    include ../../blocks/modules/p-list/p-list
    include ../../blocks/modules/work-scheme/work-scheme
    include ../../blocks/modules/s-selection/s-selection
    include ../../blocks/modules/gallery-slider/gallery-slider
    include ../../blocks/modules/selection-params/selection-params
    include ../../blocks/modules/accordion/accordion
    include ../../blocks/modules/s-faq/s-faq
    include ../../blocks/modules/selection-ps/selection-ps
    include ../../blocks/modules/s-mission/s-mission
    include ../../blocks/modules/s-numbers/s-numbers
    include ../../blocks/modules/s-review/s-review
    include ../../blocks/modules/s-title/s-title
    include ../../blocks/modules/s-obligations/s-obligations
    include ../../blocks/modules/service-request/service-request
    include ../../blocks/modules/s-payment/s-payment
    include ../../blocks/modules/s-delivery/s-delivery
    include ../../blocks/modules/how-delivery/how-delivery
    include ../../blocks/modules/contacts-intro/contacts-intro
    include ../../blocks/modules/company-details/company-details