mixin mixins()
    //- Компоненты
    include ../../blocks/components/main-menu/main-menu
    include ../../blocks/components/field/field
    include ../../blocks/components/form/form
    include ../../blocks/components/btn/btn
    include ../../blocks/components/modal/modal
    include ../../blocks/components/title/title
    include ../../blocks/components/slider-controls/slider-controls
    include ../../blocks/components/copy-text/copy-text
    include ../../blocks/components/category-card/category-card
    include ../../blocks/components/info-card/info-card
    include ../../blocks/components/catalog-filter/catalog-filter
    include ../../blocks/components/product-card/product-card
    include ../../blocks/components/pagination/pagination
    include ../../blocks/components/product-banner/product-banner
    include ../../blocks/components/field-range/field-range

    //- Модули
    include ../../blocks/modules/preloader/preloader
    include ../../blocks/modules/header/header
    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/modals/modals
    include ../../blocks/modules/breadcrumbs/breadcrumbs
    include ../../blocks/modules/home-intro/home-intro
    include ../../blocks/modules/categories-list/categories-list
    include ../../blocks/modules/s-advantages/s-advantages
    include ../../blocks/modules/s-about/s-about
    include ../../blocks/modules/s-partners/s-partners
    include ../../blocks/modules/img-intro/img-intro
    include ../../blocks/modules/p-catalog/p-catalog
    include ../../blocks/modules/catalog-item/catalog-item