.history-modal {
    max-width: 1036px;
    width: 100vw;

    @include max(laptop) {
        width: 100%;
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include max(mobile) {
            gap: 30px;
        }
    }

    &__row {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 30px;
        z-index: 3;
        background-color: transparent;
        transition: all $tr;

        @include max(tablet) {
            gap: 24px;
        }

        @include max(mobile) {
            flex-direction: column;
            gap: 16px;
            padding: 10px 10px 10px 20px;
        }
    }

    &__year {
        flex: 0 0 100px;
        font-weight: 600;
        font-size: 35px;
        line-height: 100%;
        text-align: end;

        @include max(tablet) {
            flex: 0 0 72px;
            font-size: 24px;
        }

        @include max(mobile) {
            flex-basis: auto;
            padding-bottom: 0;
        }
    }

    &__point {
        flex: 0 0 16px;
        width: 16px;
        height: 16px;
        margin-top: 10px;
        border-radius: 100%;
        background-color: $c-link;
        transition: all $tr;

        @include max(tablet) {
            width: 12px;
            height: 12px;
            flex: 0 0 12px;
            margin-top: 5px;
        }

        @include max(mobile) {
            position: absolute;
            left: 0;
            top: 8px;
            flex-basis: 0;
            width: 9px;
            height: 9px;
        }
    }

    &__progress {
        position: absolute;
        top: 20px;
        left: 137px;
        bottom: 0;
        width: 1px;
        height: 100%;
        z-index: 1;
        background-color: $c-white;
        overflow: hidden;

        @include max(tablet) {
            left: 101px;
        }

        @include max(mobile) {
            left: 4px;
        }

        .line-color {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0%;
            z-index: 1;
            background-color: $c-link;
        }

        .line-dashed {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background-image: url(../img/about/history_scroll_bg.svg);
            background-size: 100% auto;
            background-repeat: repeat-y;
        }
    }

    &__info {
        width: 100%;
        max-width: 100%;
        flex: 1 1 auto;
        color: $c-text;
        padding-right: 15px;
        font-size: 16px;

        @include max(laptop) {
            font-size: 16px;
        }

        @include max(tablet) {
            padding-right: 5px;
        }

        img {
            width: 100%;
            max-width: 750px;
            border-radius: $br-5;

            @include max(laptop) {
                max-width: 600px;
            }

            @include max(mobile) {
                max-width: 100%;
            }
        }
    }

    &__play {
        border-radius: 5px;
    }

}