noindex
    div
        //- код модалок сюда

        //- обратный звонок
        +modal({modalId:"callbackModal"})(data-js="callbackModal")
            +form({
                classes: 'form--modal',
                title: 'Оставить заявку',
                text: '',
                btnText: 'Отправить заявку',
                privacyText: 'Нажимая кнопку “Отправить” вы соглашаетесь с <a href="javascript:void(0);" target="_blank">политикой конфиденциальности</a>',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                        hasError: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        hasError: true
                    })

        //- заявка на подбор
        +modal({modalId:"selectionModal"})(data-js="selectionModal")
            +form({
                classes: 'form--modal',
                title: 'Рассчитать теплообменник',
                text: '',
                btnText: 'Отправить',
                btnIcon: 'filter',
                privacyText: 'Нажимая кнопку “Отправить” вы соглашаетесь с <a href="javascript:void(0);" target="_blank">политикой конфиденциальности</a>',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                        hasError: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        hasError: true
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'data-v-name': 'email',
                            'required': '',
                        },
                        hasError: true
                    })

        //- задать вопрос
        +modal({modalId:"questionModal"})(data-js="questionModal")
            +form({
                classes: 'form--modal',
                title: 'Задать вопрос',
                text: '',
                btnText: 'Отправить',
                btnIcon: 'btn_chevron',
                privacyText: 'Нажимая кнопку “Отправить” вы соглашаетесь с <a href="javascript:void(0);" target="_blank">политикой конфиденциальности</a>',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                        hasError: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        hasError: true
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Email',
                        inputAttr: {
                            'data-v-name': 'email',
                            'required': '',
                        },
                        hasError: true
                    })
                    +field({
                        classes: '',
                        tag: 'textarea',
                        title: '',
                        placeholder: 'Ваш вопрос',
                    })

        //- Отзыв
        +modal({modalId:"reviewModal", classes: "modal-review"})(data-js="reviewModal")
            .modal-review__content
                .modal-review__header
                    +title({
                        text: 'ООО «Елки фуд»',
                        size: '48'
                    })
                    .modal-review__date 12-05-2025

                .modal-review__flex
                    .modal-review__text.text-editor
                        p Работаем с этой компанией уже несколько лет в рамках реализации промышленных и коммерческих объектов. За это время она зарекомендовала себя как надёжный и компетентный партнёр в сфере поставки теплообменников, насосных станций и блочных тепловых пунктов.
                        p Отдельно хотим отметить высокий уровень инженерной поддержки. Специалисты компании не просто предлагают оборудование «по каталогу», а детально вникают в задачу: анализируют проект, помогают с подбором оптимальных решений, выполняют расчёты и предлагают технически обоснованные варианты с учётом бюджета и сроков. Это особенно важно при работе со сложными или нестандартными объектами.
                        p Поставки всегда осуществляются в согласованные сроки, оборудование приходит в полной комплектации, с необходимой документацией и паспортами. Качество продукции стабильно высокое, за время эксплуатации серьёзных замечаний не возникало.
                        p Также ценим открытость в коммуникации и готовность оперативно реагировать на запросы — от коммерческих предложений до срочных технических консультаций. Компания берет на себя ответственность за результат, что сегодня встречается не так часто.
                        p Можем уверенно рекомендовать данную компанию как профессионального поставщика и надёжного партнёра для строительных и производственных проектов.

                    .modal-review__img
                        img(src="img/about/review_modal.webp" alt="")

                .modal-review__author
                    .modal-review__position Директор:
                    .modal-review__name Савчук И.А.
