.field {
    position: relative;
    width: 100%;
    padding: 0;
    border: none;

    &--invalid {
        .field__error {
            display: block;
        }
    }

    &__input,
    &__textarea {
        width: 100%;
        padding: 18px 5px;
        font-family: $ff-main;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: $c-text;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid $c-border;

        @include max(tablet) {
            padding: 16px 5px;
            font-size: 16px;
        }

        &::placeholder {
            color: $c-border;
            opacity: 1;
        }
    }

    &--invalid &__input,
    &--invalid &__textarea,
    &--invalid .select2 {
        border-bottom-color: $c-error !important;
    }

    &__textarea {
        resize: none;
    }

    &__select.select2-hidden-accessible {
        opacity: 0;
        visibility: hidden;
    }

    &__error {
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        font-size: 12px;
        line-height: 1.4em;
        color: $c-error;
        display: none;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

}

.field {

    &--checkbox {
        width: fit-content;
        max-width: 100%;
    }

    &--checkbox label {
        cursor: pointer;
        position: relative;
        width: fit-content;
    }

    &--checkbox input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    &--checkbox .fake-checkbox {
        position: relative;
        display: flex;
        align-items: center;
        position: relative;
        gap: 12px;
        width: fit-content;
        max-width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        transition: all $tr;
        cursor: pointer;

        @include max(mobile) {
            gap: 10px;
        }
    }

    &--checkbox .fake-checkbox__input {
        display: block;
        position: relative;
        width: 23px;
        height: 23px;
        background-color: transparent;
        border-radius: 3px;
        flex-shrink: 0;
        flex-grow: 0;
        cursor: pointer;
        border: 1px solid $c-border;

        @include max(mobile) {
            width: 20px;
            height: 20px;
        }

        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.6L5.875 10L14 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            position: absolute;
            width: 15px;
            height: 11px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            opacity: 0;
        }
    }

    &--checkbox input:checked+.fake-checkbox .fake-checkbox__input {
        background-color: $c-link;
        border-color: $c-link;
    }

    &--checkbox input:checked+.fake-checkbox .fake-checkbox__input::after {
        opacity: 1;
    }

    &--checkbox .fake-checkbox__text {
        flex: 1 1 auto;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: $c-text;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 1em;
        white-space: nowrap;

        @include max(mobile) {
            font-size: 16px;
        }
    }
}

.field {

    &--radio {
        width: fit-content;
    }

    &--radio label {
        cursor: pointer;
        position: relative;
        width: fit-content;
    }

    &--radio input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    &--radio .fake-radio {
        display: flex;
        align-items: center;
        position: relative;
        gap: 12px;
        width: fit-content;
        flex-shrink: 0;
        flex-grow: 0;
        transition: all $tr;
        cursor: pointer;

        @include max(mobile) {
            gap: 10px;
        }
    }

    &--radio .fake-radio__input {
        display: block;
        position: relative;
        width: 23px;
        height: 23px;
        background-color: transparent;
        border-radius: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        cursor: pointer;
        border: 1px solid $c-border;

        &::after {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            left: 3.75px;
            top: 3.75px;
            background-color: $c-link;
            border-radius: 100%;
            opacity: 0;
        }
    }

    &--radio input:checked+.fake-radio .fake-radio__input {
        border-color: $c-link
    }

    &--radio input:checked+.fake-radio .fake-radio__input::after {
        opacity: 1;
    }

    &--radio .fake-radio__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: $c-text;
    }
}