.slider-controls {
    display: none;
    align-items: center;
    gap: 10px;

    @include max(xs) {
        gap: 6px;
    }

    &.active {
        display: flex;
    }

    &__sep {
        width: 60px;
        height: 1px;
        background-color: $c-border;

        @include max(laptop) {
            width: 40px;
        }

        @include max(mobile) {
            width: 32px;
        }
    }
}

.slider-control {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-black;
    cursor: pointer;
    transition: color $tr;

    &:hover {
        color: $c-accent;
    }

    &.swiper-button-disabled {
        color: $c-border;
        pointer-events: none;
    }

    svg {
        width: 60px;
        height: 60px;

        @include max(laptop) {
            width: 40px;
            height: 40px;
        }

        @include max(mobile) {
            width: 32px;
            height: 32px;
        }

        @include max(xs) {
            width: 24px;
            height: 24px;
        }
    }
}