-
    const defaultSliderControlsProps = {
        classes: ''
    }

mixin slider-controls(props= defaultSliderControlsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSliderControlsProps.classes
        }

    .slider-controls(class= checkProps.classes data-js="sliderControls")&attributes(attributes)
        button.slider-control.slider-control--prev(type="button" data-js='sliderPrev')
            svg
                use(xlink:href=`img/sprites/sprite.svg#slider_prev`)
        .slider-controls__sep
        button.slider-control.slider-control--next(type="button" data-js='sliderNext')
            svg
                use(xlink:href=`img/sprites/sprite.svg#slider_next`)