.s-payment {
    &__text {
        margin-top: 10px;
        max-width: 1052px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;

        @include max(laptop) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }
}

.payment-card {
    background-color: $c-white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    @include max(tablet) {
        padding: 20px;
        gap: 20px;
    }

    @include max(mobile) {
        padding: 16px;
    }


    &__img {
        height: 193px;
        max-width: 100%;

        @include max(mobile) {
            height: 100px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        margin-top: auto;
    }
}