.s-selection {
    &__container {
        display: flex;
        align-items: stretch;
        gap: 24px;

        @include max(laptop) {}

        @include max(mobile) {}
    }

    &__left {
        position: relative;
        flex: 0 1 50%;
        padding: 40px 40px 50px;
        border-radius: $br-5;
        overflow: hidden;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        height: 100%;
    }

    &__title {
        margin-bottom: auto;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: $c-white;
    }

    &__right {
        flex: 0 1 50%;
        padding: 40px;
        background-color: $c-white;
        border-radius: $br-5;
    }

    &__form {
        margin-top: 50px;
    }
}