.gallery-slider {
    .slider-controls {
        @include max(laptop) {
            align-self: flex-end;
            margin-top: 16px;
        }
    }

    &__slider {
        overflow: hidden;
    }

    &__slide {
        display: flex;
        align-items: stretch;
        justify-content: center;
        border-radius: $br-5;
        overflow: hidden;

        img {
            width: 100%;
            aspect-ratio: 1 / 0.667;
        }
    }
}

.gallery-slider {
    &--ha &__slide img {
        aspect-ratio: auto;
    }
}