-
    const defaultGallerySliderProps = {
        classes: '',
        group: 'equipment',
        title: 'Галерея готового оборудования',
        slides: [
            'img/selection/gallery_1.webp',
            'img/selection/gallery_2.webp',
            'img/selection/gallery_3.webp',
            'img/selection/gallery_4.webp',
            'img/selection/gallery_5.webp',
            'img/selection/gallery_6.webp',
        ]
    }

mixin gallery-slider(props = defaultGallerySliderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultGallerySliderProps.classes,
            group: props.group ? props.group : defaultGallerySliderProps.group,
            title: props.title ? props.title : defaultGallerySliderProps.title,
            slides: props.slides ? props.slides : defaultGallerySliderProps.slides,
        }

    section.section.section--inner.gallery-slider(class= checkProps.classes data-js="gallerySlider")&attributes(attributes)
        .vt-container
            .section__header
                +title({
                    tag: 'h2',
                    text: checkProps.title,
                })(data-aos="fade-right")
                +slider-controls()(data-aos="fade-left" data-aos-delay="400")
            .gallery-slider__slider(data-js="gallerySliderSlider" data-anim-list)
                .swiper-wrapper
                    - let counter = 0
                    - let list = checkProps.slides 
                    - while(counter < list.length)
                        a.swiper-slide.gallery-slider__slide(data-fancybox=checkProps.group href=list[counter] data-thumb=list[counter])
                            img(src=list[counter] data-anim-item)

                        - counter++

