.selection-params {

    &__text {
        flex: 0 0 41%;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;

        @include max(tablet) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 16px;
        }
    }

    &__flex {
        display: flex;
        align-items: stretch;
        gap: 30px;
        width: 100%;

        @include max(large) {
            gap: 20px;
        }

        @include max(tablet) {
            flex-direction: column;
        }
    }

    &__block {
        flex: 1 1 50%;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 30px 30px 30px 20px;

        @include max(large) {
            padding: 24px 20px 24px 16px;
        }

        @include max(xs) {
            padding: 20px 12px;
        }
    }

    &__left {
        background-color: rgba(255, 72, 118, 0.1);
        background: linear-gradient(160.46deg, rgba(255, 72, 118, 0.1) 0%, rgba(255, 72, 118, 0) 48.42%), $c-white;

    }

    &__right {
        background-color: rgba(40, 106, 255, 0.1);
        background: linear-gradient(160.46deg, rgba(40, 106, 255, 0.1) 0%, rgba(40, 106, 255, 0) 47.25%), $c-white;

    }

    &__icon {
        flex: 0 0 40px;

        @include max(large) {
            flex-basis: 32px;
        }

        @include max(xs) {
            flex-basis: 20px;
        }

        img {
            width: 100%;
        }
    }

    &__fields {
        flex: 1 1 100%;

        .form__fields {

            @include max(xs) {
                gap: 12px;
            }

        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 29px;
        line-height: 110%;
        margin-bottom: 14px;

        @include max(xs) {
            font-size: 20px;
        }
    }

    &__img {
        flex: 0 0 370px;
        align-self: center;

        @include max(large) {
            flex-basis: 300px;
        }

        @include max(laptop) {
            display: none;
        }
    }

    &__btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;

        @include max(tablet) {
            flex-direction: column;
            align-items: stretch;
        }

        @include max(mobile) {
            gap: 12px;
        }
    }
}