.home-intro {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: stretch;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        max-width: 1230px;
    }

    &__bottom {
        margin-top: auto;
    }

    &__text {
        max-width: 720px;
        font-weight: 400;
        font-size: 28px;
        line-height: 130%;
        color: $c-title;

        @include max(laptop) {
            font-size: 24px;
            max-width: 620px;
        }
    }
}