.field-file {
    position: relative;
    width: 100%;
    padding: 0;
    border: none;

    &.field--invalid {
        .field-file__fakeinput {
            border-color: $c-error;
        }

        .field-file__error {
            display: block;
        }
    }

    &--full {
        .field-file__name {
            color: $c-accent;
        }
    }

    &.drag-over &__fakeinput {
        border-color: $c-accent;
    }

    &__fakeinput {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        flex: 1 1 auto;
        width: 100%;
        padding: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        outline: none;
        color: $c-text-grey;
        background-color: transparent;
        border-radius: $br-5;
        border: 1px dotted $c-border;
        transition: all $tr;
        min-height: 170px;

        @include max(tablet) {
            padding: 20px;
            gap: 10px;
            min-height: 150px;
        }

        @include max(mobile) {
            padding: 12px;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 32px;
            height: 32px;

            @include max(tablet) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__name {
        transition: all 0.2s linear;

        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__conf {
        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__error {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.18em;
        text-align: start;
        color: $c-error;
        display: none;
    }

    &__input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
    }
}