extends ../layouts/default

block variables
    - const title = "Контакты" 

block content
    .page(data-js="page")
        .page-layout
            +breadcrumbs({
                items: [
                    {
                        name: 'Вальв Тек',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Контакты',
                        link: 'javascript:void(0);'
                    }
                ],
            })
            +contacts-intro
            +company-details