extends ../layouts/default

block variables
    - const title = "Главная" 

block content
    .page(data-js="page")
        .page-layout
            +home-intro
            +categories-list
            +s-advantages
            +s-about
            +s-partners

