extends ../layouts/default

block variables
    - const title = "Подбор насосной станции" 

block content
    .page(data-js="page")
        .page-layout
            +img-intro({
                classes: 'img-intro--full',
                img: 'img/selection/selection_ps.webp',
                title: 'Подбор и расчет стоимости Насосной станции удобным для вас способом',
                hasBottom: true
            })
                .img-intro__desc
                    .img-intro__text.text-editor
                        p Важно чтобы теплообменник соответствовал тем параметрам системы, в которой он установлен. Для этого любой поставляемый аппарат рассчитывается индивидуально, исходя из особенностей объекта заказчика.
                        ul
                            li Точный технический расчет без погрешностей.
                            li Не удешевляем, манипулируя техническими параметрами.
                            li Для самых сложных задач подключаем инженеров завода-производителя.
                            li Учитываем технические нюансы, поможем собрать необходимые данные для расчета.

                    .img-intro__btns
                        +btn({
                            name: 'Подобрать станцию',
                            icon: 'filter'
                        })(data-modal="#selectionModal")

                        +btn({
                            name: 'Найти аналог',
                            icon: 'catalog',
                            cMode: 'bordered'
                        })

            +p-list({
                cards: [
                    {
                        classes: 'product-card--short',
                        img: 'img/catalog/product_15.webp',
                        title: 'Насосные станции <br>пожаротушения',
                        chars: [],
                        price: []
                    },
                    {
                        classes: 'product-card--short',
                        img: 'img/catalog/product_16.webp',
                        title: 'Насосные станции <br>повышения давления',
                        chars: [],
                        price: []
                    },
                ]
            })

            +work-scheme
            +s-selection
            +selection-ps

            +gallery-slider({
                slides: [
                    'img/selection/gallery_5.webp',
                    'img/selection/gallery_6.webp',
                    'img/selection/gallery_1.webp',
                    'img/selection/gallery_2.webp',
                    'img/selection/gallery_3.webp',
                    'img/selection/gallery_4.webp',
                ]
            })

            +s-partners
            +s-faq