.dl-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px 10px 10px;
    color: $c-text;
    background-color: $c-white;
    width: fit-content;
    max-width: 100%;
    border-radius: $br-5;

    @include max(mobile) {
        gap: 10px;
        padding: 8px 10px 8px 8px;
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__icon {
        flex: 0 0 50px;

        @include max(mobile) {
            flex: 0 0 32px;
        }

        img {
            width: 100%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 110%;

        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__sep {
        width: 1px;
        height: 30px;
        background-color: $c-border;

        @include max(mobile) {
            height: 20px;
        }
    }

    &__size {
        font-weight: 600;
        font-size: 16px;
        line-height: 110%;

        @include max(mobile) {
            font-size: 14px;
        }

    }
}