-
    const defaultSNumbersProps = {
        classes: ''
    }

mixin s-numbers(props = defaultSNumbersProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSNumbersProps.classes,
        }

    section.section.section--inner.s-numbers(class= checkProps.classes)&attributes(attributes)
        .vt-container
            .s-numbers__items(data-anim-list)
                +info-card({
                    title: '12 973',
                    icon: 'plus',
                    text: 'Клиентов из России'
                })(data-anim-item)
                +info-card({
                    title: '14',
                    icon: 'plus',
                    text: 'Лет опыта'
                })(data-anim-item)
                +info-card({
                    title: '200 202',
                    icon: 'plus',
                    text: 'Единиц проданной продукции'
                })(data-anim-item)
                +info-card({
                    title: '1072',
                    icon: 'plus',
                    text: 'Клиента повторно обратились к нам'
                })(data-anim-item)

