@import "preloader/preloader";
@import "header/header";
@import "footer/footer";
@import "modals/modals";
@import "main-burger/main-burger";
@import "home-intro/home-intro";
@import "categories-list/categories-list";
@import "s-advantages/s-advantages";
@import "s-about/s-about";
@import "s-partners/s-partners";
@import "img-intro/img-intro";
@import "p-catalog/p-catalog";