@import "preloader/preloader";
@import "header/header";
@import "footer/footer";
@import "modals/modals";
@import "main-burger/main-burger";
@import "home-intro/home-intro";
@import "categories-list/categories-list";
@import "s-advantages/s-advantages";
@import "s-about/s-about";
@import "s-partners/s-partners";
@import "img-intro/img-intro";
@import "p-catalog/p-catalog";
@import "breadcrumbs/breadcrumbs";
@import "catalog-item/catalog-item";
@import "p-list/p-list";
@import "work-scheme/work-scheme";
@import "s-selection/s-selection";
@import "gallery-slider/gallery-slider";
@import "selection-params/selection-params";
@import "accordion/accordion";
@import "s-faq/s-faq";
@import "selection-ps/selection-ps";
@import "s-mission/s-mission";
@import "s-numbers/s-numbers";
@import "s-review/s-review";