-
    const defaultMainMenuProps = {
        classes: ''
    }

mixin main-menu(props = defaultMainMenuProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultMainMenuProps.classes,
        }

    .main-menu(class= checkProps.classes)&attributes(attributes)
        .main-menu__items
            .main-menu__item(data-js="mainMenuItem")
                a.main-menu__link(href="javascript:void(0);") Подбор оборудования
                .main-menu__chevron
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#select_chevron`)
                .submenu.main-menu__submenu
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Товар 1
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Товар 2
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Товар 3
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Товар 4
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Товар 5
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Товар 6

            .main-menu__item(data-js="mainMenuItem")
                a.main-menu__link(href="javascript:void(0);") Услуги
                .main-menu__chevron
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#select_chevron`)
                .submenu.main-menu__submenu
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Услуга 1
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Услуга 2
                    .submenu__item
                        a.main-menu__link(href="javascript:void(0);") Услуга 3

            .main-menu__item(data-js="mainMenuItem")
                a.main-menu__link(href="javascript:void(0);") Каталог теплообмеников

            .main-menu__item(data-js="mainMenuItem")
                a.main-menu__link(href="javascript:void(0);") О компании