.main-menu {
    display: flex;
    align-items: center;
    width: fit-content;

    &__items {
        display: flex;
        align-items: center;
        gap: 30px;
        width: fit-content;

        @include max(large) {
            gap: 16px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;

        @include max(large) {
            font-size: 14px;
        }
    }

    &__chevron {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(0);
        transition: all $tr;
        color: $c-accent;

        svg {
            width: 13px;
            height: 13px;
        }
    }

    &__item:hover &__chevron {
        transform: rotate(180deg);
    }

    &__link {
        color: $c-text;
        transition: all $tr;
    }

    &__link:hover {
        color: $c-accent;
    }

    &__submenu {
        position: absolute;
        left: 0;
        top: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all $tr;
        z-index: 10;
        box-shadow: 0 4px 8px rgba(5, 40, 182, 0.2);

    }

    &__item:hover &__submenu {
        visibility: visible;
        opacity: 1;
        top: calc(100% + 10px);

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: -11px;
            height: 12px;
            width: 100%;
        }
    }
}

.main-menu {

    &--burger {
        @include max(laptop) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }
    }

    &--burger &__items {

        @include max(laptop) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }
    }

    &--burger &__item {
        @include max(laptop) {
            flex-direction: column;
            padding: 10px 0;
            align-items: flex-start;
        }
    }

    &--burger &__chevron {
        @include max(laptop) {
            display: none;
        }
    }

    &--burger &__submenu {
        position: relative;
        left: 0;
        top: 0;
        visibility: visible;
        opacity: 1;
        transition: all $tr;
        z-index: 1;
        padding: 0px;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;

    }
}

.submenu {
    min-width: 200px;
    padding: 10px 0;
    background-color: $c-white;
    border-radius: $br-5;

    &__item {
        position: relative;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}