-
    const defaultPreloaderProps = {
        classes: '',
    }

mixin preloader(props = defaultPreloaderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultPreloaderProps.classes,
        }

    .preloader(class= checkProps.classes data-js="preloader")&attributes(attributes)
        .preloader__bg(data-js="preloaderBg")
            img(src="img/preloader_bg.webp" alt="")
        .vt-container.preloader__content
            .preloader__text(data-js="preloaderText") Точность <br>Скорость <br>Гарантии

