.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 95;
    display: flex;
    align-items: center;
    background-color: $c-black;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        transition: opacity 1s linear;

        &.animated {
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    &__text {
        font-family: $ff-preloader;
        font-weight: 700;
        font-size: 90px;
        line-height: 110%;
        opacity: 0;
        margin-bottom: 18.52vh;

        &.animated {
            animation: preloaderText 2 linear 0 1 normal forwards;
        }
    }

}

@keyframes preloaderText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {}
}