.title {
    color: $c-title;
    font-family: $ff-main;

    &--light {
        color: $c-white;
    }

    /*span {
        color: $c-text-grey;
    }*/

    /*.small {
        font-size: 40%;
    }*/

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        font-weight: inherit;
        text-wrap: inherit;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--80 {
        font-size: 80px;
        font-weight: 600;
        line-height: 110%;

        @include max(large) {}

        @include max(tablet) {}

        @include max(mobile) {}

        @include max(xs) {}
    }

    &--68 {
        font-weight: 700;
        font-size: 68px;
        line-height: 110%;

        @include max(large) {}

        @include max(mobile) {}

        @include max(xs) {}
    }

    &--30 {
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;

        @include max(laptop) {}

        @include max(tablet) {}
    }

    /*

    &--26 {
        font-weight: 500;
        font-size: 26px;
        line-height: 120%;

        @include max(tablet) {
            font-size: 20px;
        }

        @include max(xs) {
            font-size: 18px;
        }
    }

    &--22 {
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        text-transform: uppercase;
        letter-spacing: -0.04em;

        @include max(laptop) {
            font-size: 20px;
        }

    }

    &--20 {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        letter-spacing: -0.04em;

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 16px;
        }

        @include max(xs) {
            font-size: 14px;
        }

    }*/

}