.main-burger(data-js='mainBurger')
    .main-burger__overlay(data-js="mainBurgerClose")
    .main-burger__content
        .main-burger__close(data-js="mainBurgerClose")
            svg
                use(xlink:href=`img/sprites/sprite.svg#close`)

        .main-burger__body
            +main-menu({
                classes: 'main-menu--burger'
            })

            .site-header__contacts
                +copy-text
                    a.site-header__contact(href="mailto:info2@valvetechgroup.com") info2@valvetechgroup.com
                a.site-header__contact(href="tel:+78002220026") +7 (800) 222-00-26
