.selection-ps {
    &__container {
        background-color: $c-white;
        display: flex;
        align-items: flex-end;
        gap: 24px;
        padding: 30px;

        @include max(large) {
            gap: 20px;
            padding: 24px;
        }

        @include max(tablet) {
            display: grid;
            grid-template-columns: minmax(0, 250px) minmax(0, 1fr);
            padding: 16px;
            align-items: stretch;
            gap: 0 12px;
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__text {
        flex: 0 0 407px;
        padding-bottom: 50px;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;

        @include max(large) {
            flex-basis: 310px;
            font-size: 16px;
        }

        @include max(laptop) {
            flex-basis: 220px;
            font-size: 14px;
        }

        @include max(tablet) {
            padding-bottom: 0;
        }

        @include max(mobile) {
            padding-bottom: 12px;
        }
    }

    &__img {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 24px;

        @include max(large) {
            gap: 20px;
        }

        @include max(tablet) {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }

        @include max(mobile) {
            grid-column: auto;
            grid-row: auto;
            order: 2;
            gap: 12px;
        }

        img,
        a {
            width: 100%;
        }

        span {
            padding: 0 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $c-text-grey;

            @include max(large) {
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }
}