.modal.hystmodal {
    .hystmodal__window {
        transition: all 0.3s linear;
        transform: scale(0);
        opacity: 0;
        width: auto;
        background-color: transparent;
    }
}

.modal.hystmodal--active {
    .hystmodal__window {
        margin: 0;
        transition: all 0.3s linear;
        transform: scale(1);
        opacity: 1;

        @include max(tablet) {
            margin: 0;
        }
    }
}

.modal {
    box-sizing: border-box;

    &__close {
        position: absolute;
        right: 50px;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: auto;
        min-width: auto;
        cursor: pointer;
        z-index: 20;
        color: $c-white;
        transition: color $tr;

        @include max(tablet) {
            right: 20px;
            top: 20px;
        }

        &:hover {
            opacity: 0.7;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        background: $c-cards-bg;
        width: 100%;
        max-width: 700px;
        z-index: 9999;
        padding: 30px 50px 40px;
        max-height: 95vh;

        @include max(tablet) {
            padding: 20px;
            margin: 0 auto;
        }

        @include max(mobile) {
            padding: 20px 10px;
            border-radius: 0;
            max-height: 100vh;
            height: 100vh;
            height: 100dvh;
        }
    }

}

.modal {
    &--3d &__content {
        max-width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include max(mobile) {
            max-height: 100vh;
            height: 100vh;
            height: 100dvh;
            width: 100vw;
            max-width: 100vw;
        }
    }

    &--3d &__inner {
        margin: auto;
    }

}

.d3-model-wrap {

    #model_3d {
        width: 1920px;
        height: 1080px;
        max-width: calc(95vw - 100px);
        max-height: calc(95vh - 70px);

        @include max(tablet) {
            max-width: calc(95vw - 40px);
            max-height: calc((95vw - 40px) * 0.5625);
        }

        @include max(mobile) {
            max-width: calc(95vw - 20px);
            max-height: calc((95vw - 20px) * 0.5625);
        }
    }
}