.modal.hystmodal {
    .hystmodal__window {
        transition: all 0.3s linear;
        transform: scale(0);
        opacity: 0;
        width: auto;
        background-color: transparent;
    }
}

.modal.hystmodal--active {
    .hystmodal__window {
        margin: 0;
        transition: all 0.3s linear;
        transform: scale(1);
        opacity: 1;

        @include max(tablet) {
            margin: 0;
        }
    }
}

.modal {
    box-sizing: border-box;

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: auto;
        min-width: auto;
        cursor: pointer;
        z-index: 20;
        color: $c-error;
        transition: color $tr;

        @include max(mobile) {
            right: 10px;
            top: 10px;
        }

        &:hover {
            opacity: 0.7;
        }

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        background: $c-white;
        width: 100vw;
        max-width: 900px;
        z-index: 9999;
        padding: 40px;
        max-height: 95vh;
        border-radius: $br-5;
        box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);


        @include max(tablet) {
            padding: 30px;
            margin: 0 auto;
            max-width: 90vw;
        }

        @include max(mobile) {
            padding: 20px 15px;
            border-radius: 0;
            max-width: 100%;
            max-height: 100vh;
            height: 100vh;
            height: 100dvh;
        }
    }

}

.modal {
    &--3d &__content {
        max-width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include max(mobile) {
            max-height: 100vh;
            height: 100vh;
            height: 100dvh;
            width: 100vw;
            max-width: 100vw;
        }
    }

    &--3d &__inner {
        margin: auto;
    }

}

.d3-model-wrap {

    #model_3d {
        width: 1920px;
        height: 1080px;
        max-width: calc(95vw - 100px);
        max-height: calc(95vh - 70px);

        @include max(tablet) {
            max-width: calc(95vw - 40px);
            max-height: calc((95vw - 40px) * 0.5625);
        }

        @include max(mobile) {
            max-width: calc(95vw - 20px);
            max-height: calc((95vw - 20px) * 0.5625);
        }
    }
}

.modal {
    &--wide .modal__content {
        max-width: 1206px;
        flex-direction: row;
        align-items: stretch;

        @include max(laptop) {
            max-width: 90vw;
        }

        @include max(mobile) {
            max-width: 100vw;
        }
    }

    &--wide .modal__inner {
        overflow: auto;
        overflow-x: hidden;
        margin-right: -20px;

        @include max(mobile) {
            margin-right: -10px;
        }

        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;

            @include max(tablet) {
                width: 6px;
                height: 6px;
            }
        }

        &::-webkit-scrollbar-track {
            background-color: $c-bg-main;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border: 2px solid transparent;
            background-color: $c-border;
            border-radius: 10px;
            background-clip: content-box;

            @include max(tablet) {
                border: 1px solid transparent;
            }
        }
    }
}

.modal-review {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 5px;

    @include max(laptop) {
        gap: 24px;
    }

    &__header {
        flex: 0 0 auto;
    }

    &__date {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $c-text-grey;
        margin-top: 20px;

        @include max(laptop) {
            margin-top: 5px;
        }
    }

    &__flex {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-start;
        gap: 50px;

        @include max(laptop) {
            gap: 24px;
        }

        @include max(tablet) {
            flex-direction: column-reverse;
        }
    }

    &__text {
        max-height: 100%;
    }

    &__img {
        flex: 0 0 300px;
        border: 1px solid $c-border;

        @include max(laptop) {
            flex: 0 0 200px;
        }

        @include max(tablet) {
            flex: 0 0 auto;
            width: 200px;
        }

        img {
            width: 100%;
        }
    }

    &__author {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }

    &__position {
        color: $c-text-grey;
    }
}