-
    const defaultBreadCrumbsProps = {
        classes: '',
        items: [
            {
                name: 'Вальв Тек',
                link: 'javascript:void(0);'
            },
            {
                name: 'Каталог оборудования',
                link: 'javascript:void(0);'
            },
            {
                name: 'Пластинчатые теплообменники',
                link: 'javascript:void(0);'
            },
            {
                name: 'Ридан',
                link: 'javascript:void(0);'
            },
            {
                name: 'Теплообменник Ридан НН №07',
                link: 'javascript:void(0);'
            }
        ],
    }

mixin breadcrumbs(props = defaultBreadCrumbsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBreadCrumbsProps.classes,
            items: props.items ? props.items : defaultBreadCrumbsProps.items,
        }

    section.section.section--top.breadcrumbs(class=checkProps.classes)&attributes(attributes)
        .d-container
            .breadcrumbs__scroll(data-js="customScrollbar")
                ul.breadcrumbs__list(data-aos="fade-right")
                    each val, index in checkProps.items
                        li.breadcrumbs__item(class= (index === checkProps.items.length - 1) ? "breadcrumbs__item--current" : "")
                            if index === checkProps.items.length - 1
                                span= val.name
                            else
                                a(href=`${val.link}`)= val.name
                                span.breadcrumbs__separator
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#arrow_breadcrumbs`)

