.img-intro {
    min-height: 500px;
    display: flex;
    align-items: stretch;

    @include max(mobile) {
        min-height: 300px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    &__title {
        max-width: 1230px;
    }

    &__bottom {
        margin-top: auto;

        @include max(mobile) {
            margin-top: 30px;
        }
    }

    &__desc {
        max-width: 1052px;
        padding: 60px;
        background-color: $c-white;
        border-radius: $br-5;
    }

    &__btns {
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.img-intro {
    &--full {
        padding-bottom: 50px;
        min-height: 100vh;
        min-height: 100dvh;
    }

    &--full &__content {
        gap: 60px;
        justify-content: space-between;
    }
}