.img-intro {
    min-height: 500px;
    display: flex;
    align-items: stretch;

    @include max(mobile) {
        min-height: 300px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    &__title {
        max-width: 1230px;
    }

    &__bottom {
        margin-top: auto;
    }

    &__desc {
        max-width: 1052px;
        padding: 60px;
        background-color: $c-white;
        border-radius: $br-5;

        @include max(tablet) {
            padding: 24px;
            max-width: 100%;
        }

        @include max(xs) {
            padding: 16px;
        }
    }

    &__btns {
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 20px;

        @include max(xs) {
            flex-direction: column;
            align-items: stretch;
            gap: 12px;
            margin-top: 24px;

            .vt-btn {
                width: 100%;
            }

            .vt-btn__text {
                margin-right: auto;
            }
        }
    }
}

.img-intro {
    &--full {
        padding-bottom: 50px;
        min-height: 100vh;
        min-height: 100dvh;
    }

    &--full &__content {
        gap: 60px;
        justify-content: space-between;

        @include max(mobile) {
            gap: 32px;
        }
    }
}