.categories-list {
    &__items {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 15px;

        @include max(laptop) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}