-
    const defaultPaginationProps = {
        classes: '',
        count: 3,
        separator: true
    }

mixin pagination(props = defaultPaginationProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultPaginationProps.classes,
            count: props.count ? props.count : defaultPaginationProps.count,
            separator: props.separator ? props.separator : defaultPaginationProps.separator
        }
    .pagination(class= checkProps.classes data-js="pagination")&attributes(attributes)
        - let i = 1
            -if(checkProps.separator === true)
                while i <= checkProps.count
                    -if(i < 4 || i == checkProps.count)
                        a.pagination__page(href="javascript:void(0);" class= i===1 ? "active" : "")
                            span!= i
                    -if(i == 4)
                        .pagination__separator ...
                    - i++
            - else
                while i <= checkProps.count
                    a.pagination__page(href="javascript:void(0);" class= i===1 ? "active" : "")
                        span!= i
                    - i++