.pagination {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;

    &--center {
        justify-content: center;
    }

    &__page,
    &__separator {
        position: relative;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: $c-white;
        color: $c-text;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        text-decoration: none;
        margin: 0 !important;
        padding: 0 !important;

        @include max(mobile) {
            width: 40px;
            height: 40px;
            font-size: 14px;
            border-image-slice: 10;
        }

    }

    &__page {
        transition: all $tr;

        &:hover,
        &.active {
            background-color: $c-accent;
            color: $c-white !important;
        }
    }

}