.how-delivery {
    position: relative;
    z-index: -1;

    &__content {
        display: flex;
        align-items: stretch;
        gap: 24px;
    }

    &__desc {
        position: relative;
        flex: 0 0 calc((100% - 24px) / 2);
        padding-bottom: 20px;

        @include max(laptop) {
            flex-basis: 100%;
            max-width: 900px;
        }
    }

    &__decor {
        position: relative;
        flex: 1 1 100%;

        @include max(laptop) {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

        img {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100vw;
            max-width: 1920px;
            transform: translateY(9.5%);
            z-index: 0;

            @include max(laptop) {
                opacity: 0.3;
                width: auto;
                max-width: 1800px;
                transform: translateY(20%);
            }

            @include max(mobile) {
                max-width: 1500px;
                transform: translateY(15%);
            }
        }
    }

    &__text {
        margin-top: 50px;
    }
}