.catalog-filter {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    background-color: $c-white;

    @include max(large) {
        padding: 20px;
        gap: 32px;
    }

    @include max(laptop) {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        height: 100dvh;
        z-index: 85;
        max-width: 390px;
        padding-top: 60px;
        transition: right $tr-long;
        opacity: 0 !important;

        &.opened {
            right: 0;
            opacity: 1 !important;
        }
    }

    @include max(xs) {
        max-width: 100%;
        width: 100%;
    }

    &__blocks {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 40px;

        @include max(laptop) {
            gap: 24px;
            overflow-x: hidden;
            overflow-y: auto;
            margin-right: -10px;
            padding-right: 10px;

            &::-webkit-scrollbar {
                width: 12px;
                height: 12px;
            }

            &::-webkit-scrollbar-track {
                background-color: $c-bg-main;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                border: 2px solid transparent;
                background-color: $c-border;
                border-radius: 10px;
                background-clip: content-box;
            }
        }
    }

    &__btn {
        flex: 0 0 auto;
    }

    &__overlay,
    &__close,
    &__open {
        display: none;

        @include max(laptop) {
            display: flex;
        }
    }

    &__open {
        color: $c-accent;
        align-items: center;
        justify-content: center;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        color: $c-error;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__overlay {
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 82;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s linear;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.filter-block {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;
    }

    &__title {
        flex: 1 1 auto;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;

        @include max(mobile) {
            font-size: 18px;
        }
    }

    &__icon {
        flex: 0 0 auto;
        transition: transform $tr-long;
        transform: rotate(180deg);

        svg {
            width: 22px;
            height: 22px;

            @include max(mobile) {
                width: 18px;
                height: 18px;
            }
        }
    }

    &__content,
    &--collapsible.expanded &__content {
        padding-top: 20px;
        overflow: hidden;
    }

    &--collapsible &__content {
        transition: max-height $tr-long, padding-top $tr-long;
        max-height: 0;
        overflow: hidden;
        padding-top: 0;
    }

    &--collapsible.expanded &__icon {
        transform: rotate(0);
    }
}

.checkboxes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 22px;
    overflow-y: auto;
    max-height: 238px;

    @include max(mobile) {
        gap: 14px;
        max-height: 190px;
        padding-right: 10px;
    }

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: $c-bg-main;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background-color: $c-border;
        border-radius: 10px;
        background-clip: content-box;
    }
}