.vt-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    min-width: 230px;
    min-height: 60px;
    padding: 15px 20px;
    background-color: $c-accent;
    border-radius: $br-5;
    font-family: $ff-main;
    color: $c-white;
    cursor: pointer;
    transition: all $tr;

    @include max(large) {
        min-height: 54px;
        padding: 10px 20px;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
    }

    &__separator {
        align-self: stretch;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.4);
        transition: background-color $tr;
    }

    svg {
        width: 13px;
        height: 13px;
    }

    &:hover {
        background-color: $c-accent-hover;
    }

    &:hover &__separator,
    &--white &__separator {
        background-color: $c-accent-light;
    }

    &--white {
        background-color: $c-white;
        color: $c-accent;

        &:hover {
            background-color: $c-accent;
            color: $c-white;
        }
    }

    &--reverse {
        flex-direction: row-reverse;
    }

    &--justify &__text {
        margin-right: auto;
    }

    &--full {
        width: 100%;
    }

    &--ma {
        min-width: auto;

        @include max(large) {
            padding: 10px;
            gap: 10px;
            min-height: 50px;
        }

        @include max(laptop) {
            width: 40px;
            height: 40px;
            min-height: auto;
            border-radius: 100%;
        }

        @include max(mobile) {
            width: 32px;
            height: 32px;
        }

        svg {
            width: 18px;
            height: 18px;

            @include max(large) {
                width: 14px;
                height: 14px;
            }

            @include max(laptop) {
                width: 24px;
                height: 24px;
            }

            @include max(mobile) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &--ma &__text {
        @include max(large) {
            font-size: 14px;
        }
    }

    &--ma &__text,
    &--ma &__separator {

        @include max(laptop) {
            display: none;
        }
    }

    /*&--transparent {
        padding: 0;
        color: $c-text;
        background-color: transparent;
        background-image: none;
        min-height: auto;

        @include max(large) {
            min-height: auto;
            padding: 0;
        }

        svg {
            color: $c-accent;
        }

        &:hover {
            color: $c-accent;
            background-image: none;
        }
    }

    &--accent-br {
        background-color: transparent;
        background-image: none;
        transition: all $tr;
        border: solid 1px $c-border;
        color: $c-accent;

        &:hover {
            background-image: none;
            border-color: $c-accent;
            color: $c-accent;
        }
    }

    &--accent-tr {
        padding: 0;
        color: $c-accent;
        background-color: transparent;
        background-image: none;
        min-height: auto;

        @include max(large) {
            min-height: auto;
            font-size: 13px;
        }

        svg {
            width: 36px;
            height: 36px;

            @include max(laptop) {
                width: 28px;
                height: 28px;
            }
        }

        &:hover {
            color: $c-accent-hover;
            background-image: none;
        }
    }

    &--rounded {
        padding: 13px 15px;
        color: $c-black;
        background-color: $c-accent;
        background-image: none;
        min-height: 39px;
        border-radius: 20px;
        transition: all $tr;

        @include max(large) {
            min-height: 39px;
            font-size: 13px;
        }

        @include max(mobile) {
            min-height: 39px;
            font-size: 13px;
        }

        &:hover {
            color: $c-white;
            background-color: $c-accent-hover;
        }
    }


    /*&--light {
        color: $c-text-btn;
        background-color: $c-bg-grey;
        opacity: 1;
        transition: all $tr;
        
        &:hover {
            opacity: 0.7;
            }
            }
            
            &--accent {
                color: $c-white;
                background-color: $c-accent;
                transition: all $tr;
        
                &:hover {
                    opacity: 0.7;
                    color: $c-white;
                }
            }
            &--grey {
        color: $c-accent;
        background-color: $c-bg-grey;
        opacity: 1;
        transition: all $tr;

        &:hover {
            opacity: 0.7;
        }
    }


    

    

    &--bordered-dark {
        color: $c-text;
        background-color: transparent;
        transition: all $tr;
        border: solid 1px $c-text-light;

        &:hover {
            background-color: $c-accent;
            color: $c-white;
            border-color: $c-accent;
        }

        svg {
            color: $c-accent;
        }

        &:hover svg {
            color: $c-white;
        }
    }

    &--big {
        font-size: 15px;
        padding: 40px;

        @include max(laptop) {
            padding: 30px 20px;
        }

        @include max(mobile) {
            padding: 10px 15px;
            font-size: 14px;
        }

        svg {
            width: 35px;
            height: 35px;

            @include max(mobile) {
                width: 24px;
                height: 24px;
            }
        }
    }

    

    &--card {
        padding: 9px 14px 9px 19px;
        border-radius: 100px;

        @include max(xs) {
            width: 100%;
        }

        svg {
            width: 24px;
            height: 24px;

            @include max(xs) {
                width: 18px;
                height: 18px;
            }
        }
    }

    &--icon {
        padding: 10px;
        width: 50px;
        height: 50px;

        @include max(xs) {
            padding: 5px;
            width: 34px;
            height: 34px;
        }

        svg {
            width: 24px;
            height: 24px;

            @include max(xs) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &--share {
        padding: 14px 19px;
        border-radius: 50px;
        font-size: 15px;
        gap: 5px;

        @include max(mobile) {
            padding: 10px 15px;
        }

        svg {
            width: 24px;
            height: 24px;

            @include max(xs) {
                width: 18px;
                height: 18px;
            }
        }
    }

    &--blur {
        background: rgba(235, 205, 184, 0.2);
        color: $c-white;
        backdrop-filter: blur(30px);
        transition: all $tr;

        &:hover {
            background: rgba(104, 91, 82, 0.2);
        }
    }*/



}