.vt-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    min-height: 60px;
    padding: 15px 20px;
    background-color: $c-accent;
    border-radius: $br-5;
    font-family: $ff-main;
    color: $c-white;
    cursor: pointer;
    transition: all $tr;

    @include max(large) {
        min-height: 54px;
        padding: 10px 20px;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
    }

    &__separator {
        align-self: stretch;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.4);
        transition: background-color $tr;
    }

    svg {
        width: 18px;
        height: 18px;
    }

    &:hover {
        background-color: $c-accent-hover;
    }

    &:hover &__separator,
    &--white &__separator {
        background-color: $c-accent-light;
    }

    &--white {
        background-color: $c-white;
        color: $c-accent;

        &:hover {
            background-color: $c-accent;
            color: $c-white;
        }
    }

    &--reverse {
        flex-direction: row-reverse;
    }

    &--justify &__text {
        margin-right: auto;
    }

    &--full {
        width: 100%;
    }

    &--bordered {
        background-color: transparent;
        color: $c-accent;
        border: 1px solid $c-accent;

        &:hover {
            color: $c-white;
        }

    }

    &--bordered &__separator {
        background-color: $c-accent;
        opacity: 0.3;
    }

    &--ma {
        min-width: auto;

        @include max(large) {
            padding: 10px;
            gap: 10px;
            min-height: 50px;
        }

        @include max(laptop) {
            width: 40px;
            height: 40px;
            min-height: auto;
            border-radius: 100%;
        }

        @include max(mobile) {
            width: 32px;
            height: 32px;
        }

        svg {
            width: 18px;
            height: 18px;

            @include max(large) {
                width: 14px;
                height: 14px;
            }

            @include max(laptop) {
                width: 24px;
                height: 24px;
            }

            @include max(mobile) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &--ma &__text {
        @include max(large) {
            font-size: 14px;
        }
    }

    &--ma &__text,
    &--ma &__separator {

        @include max(laptop) {
            display: none;
        }
    }

    &--i13 {
        svg {
            width: 13px;
            height: 13px;
        }
    }

}