.contacts-intro {
    .sidebar-layout__sidebar {
        @include max(tablet) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        margin-top: 30px;

        @include max(laptop) {
            gap: 20px;
            margin-top: 20px;
        }
    }

    &__phone {
        @include max(large) {
            font-size: 36px;
        }

        @include max(laptop) {
            font-size: 28px;
        }

        @include max(tablet) {
            font-size: 28px;
        }
    }

    &__param {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $c-text-grey;

        @include max(laptop) {
            font-size: 14px;
        }
    }

    &__value {
        font-weight: 500;
        font-size: 23px;
        line-height: 110%;
        margin-top: 10px;

        @include max(large) {
            font-size: 20px;
        }

        @include max(laptop) {
            font-size: 16px;
            margin-top: 5px;
        }

        a {
            transition: color $tr;

            &:hover {
                color: $c-accent;
            }
        }
    }

    &__map {
        min-height: 600px;

        @include max(large) {
            min-height: 500px;
        }

        @include max(tablet) {
            min-height: 400px;
        }

        @include max(xs) {
            min-height: 300px;
        }
    }
}