-
    const defaultSPartnersProps = {
        classes: ''
    }

mixin s-partners(props = defaultSPartnersProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSPartnersProps.classes,
        }

    section.section.section--inner.s-partners(class= checkProps.classes)&attributes(attributes)
        .vt-container
            .section__header
                +title({
                    text: 'Наши партнёры',
                    tag: 'h2'
                })(data-aos="fade-right")
            .s-partners__items(data-anim-list)
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_1.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_2.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_3.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_4.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_5.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_6.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_7.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_4.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_2.svg" alt="")
                .s-partners__item(data-anim-item)
                    img(src="img/partners/partner_8.svg" alt="")

