.s-partners {
    &__items {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 15px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11.5% 12.4%;
        background-color: $c-white;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}