.s-partners {
    &__items {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 15px;

        @include max(mobile) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 10px;
        }

        @include max(xs) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 10px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11.5% 12.4%;
        background-color: $c-white;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}