h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-variant-numeric: lining-nums proportional-nums;
}

a,
a:hover {
	text-decoration: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}

ul,
ol {
	list-style: none;
}

*:focus {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

iframe {
	width: 100%;
	display: block;
	aspect-ratio: 16 / 9;
	height: auto;
}

html {
	scroll-behavior: smooth;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-variant-numeric: lining-nums proportional-nums;
}

html.hystmodal__opened {
	position: relative;
	top: 0 !important;
}

html,
body {
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;
	font-family: $ff-main;
	font-size: 16px;
	line-height: 1.02em;
	color: $c-text;
	background-color: $c-bg-main;
}

body.no-scroll {
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.site-main {
	width: 100%;
	flex-grow: 1;
}

.page {
	overflow: hidden;
}

[data-fancybox] {
	cursor: zoom-in;
}

.section {
	position: relative;
	padding-left: 50px;
	padding-right: 50px;

	@include max(large) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@include max(tablet) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@include max(mobile) {
		padding-left: 10px;
		padding-right: 10px;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		@include max(laptop) {

			img,
			video,
			picture {
				opacity: 0.3;
			}
		}

		img,
		picture {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&--intro {
		padding-top: 170px;
		padding-bottom: 70px;

		@include max(laptop) {
			padding-top: 120px;
		}

		@include max(mobile) {
			padding-top: 80px;
			padding-bottom: 30px;
		}
	}

	&--bc {
		padding-top: 130px;
		padding-bottom: 30px;

		@include max(large) {
			padding-top: 110px;
		}

		@include max(mobile) {
			padding-top: 80px;
		}
	}

	&--inner {
		padding-top: 50px;
		padding-bottom: 50px;

		@include max(tablet) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&__header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 24px;
		padding-bottom: 50px;

		@include max(laptop) {
			flex-direction: column;
			align-items: flex-start;
		}

		@include max(tablet) {
			padding-bottom: 30px;
		}

		.vt-btn,
		.slider-controls {
			flex: 0 0 auto;
		}
	}

}

.sidebar-layout {
	display: flex;
	align-items: stretch;
	gap: 24px;

	@include max(tablet) {
		flex-direction: column;
	}

	&__sidebar {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		@include max(tablet) {
			flex-direction: row;
			align-items: flex-end;
			gap: 24px;

			.vt-btn {
				flex: 0 0 auto;
			}
		}

		@include max(mobile) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__main {
		flex: 0 0 66.2%;
		padding-left: 30px;
		border-left: 1px solid transparent;
		border-color: transparent;
		transition: border-color 0.3s linear 0.4s;

		@include max(tablet) {
			padding-left: 0;
			padding-top: 24px;
			border-left: none;
			border-top: 1px solid $c-border;
		}
	}

	&:has(.contacts-intro__map.aos-animate) &__main {
		border-color: $c-border;
	}
}

.vt-container {
	position: relative;
	width: 100%;
	max-width: 1820px;
	margin: 0 auto;
}

.text-editor {
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;

	@include max(laptop) {
		font-size: 18px;
	}

	@include max(mobile) {
		font-size: 16px;
	}

	@include max(xs) {
		font-size: 14px;
	}

	>*:first-child {
		margin-top: 0 !important;
	}

	>*:last-child {
		margin-bottom: 0 !important;
	}

	p {
		display: block;
	}

	h2,
	p,
	ul,
	iframe,
	video,
	img {
		margin: 0 0 1em;
	}

	a:not(.vt-btn) {
		color: $c-accent;
		transition: all $tr;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: $c-accent;
		}
	}

	ul>li {
		position: relative;
	}

	ul>li+li {
		margin-top: 1em;
	}

	ul>li::before {
		content: '';
		position: absolute;
		top: 0.6375em;
		left: -1.2em;
		width: 0.325em;
		height: 0.325em;
		background-color: $c-accent;
		border-radius: 100%;
	}

	ul,
	ol {
		padding-left: 1.8em;
	}

}

.custom-scrollbar {
	&::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}

	.simplebar-wrapper {
		padding-bottom: 5px;
	}

	.simplebar-track {
		background-color: $c-bg-main;
		opacity: 0.5;

	}

	.simplebar-scrollbar {
		background-color: $c-text-light;
	}

	.simplebar-track.simplebar-vertical {
		width: 3px;
	}

	.simplebar-track.simplebar-horizontal {
		height: 3px;
	}

	.simplebar-content-wrapper::-webkit-scrollbar,
	.simplebar-hide-scrollbar::-webkit-scrollbar {
		display: initial;
		width: initial;
		height: initial;
	}
}

.my-fancybox {
	.fancybox__viewport {
		.fancybox__slide {
			padding-left: 20px;
			padding-right: 20px;

			@include max(tablet) {
				padding-left: 20px;
				padding-right: 20px;
			}

			@include max(mobile) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.fancybox__content {
			max-width: 1200px;
			max-height: 800px;
			overflow: hidden;
			padding: 0;

			@include max(tablet) {
				max-width: 840px;
				max-height: 560px;
			}

			@include max(mobile) {
				max-width: 335px;
				max-height: none;
			}
		}

	}

	.f-thumbs {
		@include max(mobile) {
			padding: 0 20px 8px;
		}

		.f-thumbs__slide {
			width: 64px;
			height: 64px;
			margin: 0 10px 0 0;

			@include max(mobile) {
				width: 50px;
				height: 50px;
				margin: 0 5px 0 0;
			}

			&__button {
				width: 100%;
				opacity: 1;

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: auto;
					bottom: 0;
					border: 2px solid $c-border;
					border-radius: 5px;
					animation: f-fadeIn 0.2s ease-out;
					z-index: 10;

					@include max(tablet) {
						border-radius: 5px;
					}

					@include max(mobile) {
						border-radius: 5px;
					}
				}
			}

			&__img {
				border-radius: 5px;

				@include max(tablet) {
					border-radius: 5px;
				}

				@include max(mobile) {
					border-radius: 5px;
				}
			}
		}

		.f-thumbs__slide.is-nav-selected {
			.f-thumbs__slide__button {
				&:after {
					border: 2px solid $c-accent;
					border-radius: 5px;

					@include max(tablet) {
						border-radius: 5px;
					}

					@include max(mobile) {
						border-radius: 5px;
					}
				}
			}
		}
	}

	.fancybox__toolbar {
		.f-button[data-fancybox-close] {
			border-radius: 50%;
			margin-top: 40px;
			margin-right: 40px;
			width: 50px;
			height: 50px;
			outline: none;

			&:hover {
				background-color: $c-accent;
			}

			@include max(tablet) {
				margin-top: 30px;
				margin-right: 30px;
				width: 50px;
				height: 50px;
			}

			@include max(mobile) {
				margin-top: 20px;
				margin-right: 20px;
				width: 50px;
				height: 50px;
			}

			svg {
				width: 32px;
				height: 32px;
				color: $c-white;

				@include max(tablet) {
					width: 32px;
					height: 32px;
				}

				@include max(mobile) {
					width: 32px;
					height: 32px;
				}
			}
		}
	}

	.fancybox__nav {
		.f-button {
			background-color: $c-white;
			width: 50px;
			height: 50px;
			border: none;

			@include max(tablet) {
				width: 50px;
				height: 50px;
			}

			@include max(mobile) {
				display: none;
			}

			svg {
				width: 16px;
				height: 16px;
				color: $c-accent;
				box-shadow: none;
				filter: none;

				@include max(mobile) {
					width: 12px;
					height: 12px;
				}
			}

			&:hover {
				background-color: $c-accent;

				svg {
					color: $c-white
				}
			}
		}

		.f-button.is-prev {
			left: 40px;

			@include max(tablet) {
				left: 30px;
			}
		}

		.f-button.is-next {
			right: 40px;

			@include max(tablet) {
				right: 30px;
			}
		}
	}
}