-
    const defaultAccordionProps = {
        classes: '',
        spoilers: [
            {
                title: 'Как происходит подбор и расчёт теплообменного оборудования?',
                text: 'Подбор начинается с анализа исходных данных объекта: тепловых нагрузок, температурных графиков, параметров теплоносителей и условий эксплуатации. На основе этих данных инженеры выполняют теплотехнический расчёт, подбирают оптимальную модель теплообменника и конфигурацию оборудования с учётом требований проекта, нормативов и бюджета. В результате заказчик получает техническое решение, готовое к интеграции в систему, с обоснованными характеристиками и расчётом стоимости.',
            },
            {
                title: 'Какие исходные данные необходимы для расчёта теплообменника?',
                text: 'Подбор начинается с анализа исходных данных объекта: тепловых нагрузок, температурных графиков, параметров теплоносителей и условий эксплуатации. На основе этих данных инженеры выполняют теплотехнический расчёт, подбирают оптимальную модель теплообменника и конфигурацию оборудования с учётом требований проекта, нормативов и бюджета. В результате заказчик получает техническое решение, готовое к интеграции в систему, с обоснованными характеристиками и расчётом стоимости.',
            },
            {
                title: 'С какими типами теплообменников вы работаете?',
                text: 'Подбор начинается с анализа исходных данных объекта: тепловых нагрузок, температурных графиков, параметров теплоносителей и условий эксплуатации. На основе этих данных инженеры выполняют теплотехнический расчёт, подбирают оптимальную модель теплообменника и конфигурацию оборудования с учётом требований проекта, нормативов и бюджета. В результате заказчик получает техническое решение, готовое к интеграции в систему, с обоснованными характеристиками и расчётом стоимости.',
            },
            {
                title: 'Выполняете ли вы подбор оборудования под нестандартные условия?',
                text: 'Подбор начинается с анализа исходных данных объекта: тепловых нагрузок, температурных графиков, параметров теплоносителей и условий эксплуатации. На основе этих данных инженеры выполняют теплотехнический расчёт, подбирают оптимальную модель теплообменника и конфигурацию оборудования с учётом требований проекта, нормативов и бюджета. В результате заказчик получает техническое решение, готовое к интеграции в систему, с обоснованными характеристиками и расчётом стоимости.',
            },
            {
                title: 'Можно ли интегрировать оборудование в существующую инженерную систему?',
                text: 'Подбор начинается с анализа исходных данных объекта: тепловых нагрузок, температурных графиков, параметров теплоносителей и условий эксплуатации. На основе этих данных инженеры выполняют теплотехнический расчёт, подбирают оптимальную модель теплообменника и конфигурацию оборудования с учётом требований проекта, нормативов и бюджета. В результате заказчик получает техническое решение, готовое к интеграции в систему, с обоснованными характеристиками и расчётом стоимости.',
            },
            {
                title: 'Какие сроки поставки оборудования?',
                text: 'Подбор начинается с анализа исходных данных объекта: тепловых нагрузок, температурных графиков, параметров теплоносителей и условий эксплуатации. На основе этих данных инженеры выполняют теплотехнический расчёт, подбирают оптимальную модель теплообменника и конфигурацию оборудования с учётом требований проекта, нормативов и бюджета. В результате заказчик получает техническое решение, готовое к интеграции в систему, с обоснованными характеристиками и расчётом стоимости.',
            },
            {
                title: 'Оказываете ли вы услуги пусконаладки и ввода в эксплуатацию?',
                text: 'Подбор начинается с анализа исходных данных объекта: тепловых нагрузок, температурных графиков, параметров теплоносителей и условий эксплуатации. На основе этих данных инженеры выполняют теплотехнический расчёт, подбирают оптимальную модель теплообменника и конфигурацию оборудования с учётом требований проекта, нормативов и бюджета. В результате заказчик получает техническое решение, готовое к интеграции в систему, с обоснованными характеристиками и расчётом стоимости.',
            }
        ],
    }

mixin accordion(props = defaultAccordionProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAccordionProps.classes,
            spoilers: props.spoilers ? props.spoilers : defaultAccordionProps.spoilers,
        }

    .accordion(class= checkProps.classes data-js="accordion")&attributes(attributes)
        - let sCount = 0
        - let spoilers = checkProps.spoilers
        - while(spoilers.length > sCount)
            - let spoiler = spoilers[sCount]
            .spoiler(data-js="spoiler")
                .spoiler__intro
                    .spoiler__title!= spoiler.title
                    .spoiler__icon
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#select_chevron`)
                .spoiler__content(data-js="spoilerContent")
                    .text-editor!= spoiler.text

            - sCount++