.catalog-item {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 50px;
    }

    &__title {
        max-width: 1360px;
    }
}

.ci-intro {
    display: grid;
    grid-template-columns: minmax(0, 40.879%) minmax(0, 590px) auto;
    gap: 24px;
}

.ci-media {
    flex: 0 0 40.879%;
    position: relative;
    gap: 24px;
    padding-left: 21%;

    &__thumbs {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: calc(21% - 24px);
        overflow: hidden;
    }

    &__thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: $c-white;
        height: auto;
        border-radius: $br-5;
        border: 3px solid $c-white;
        cursor: pointer;

        &.swiper-slide-thumb-active {
            border-color: $c-link;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__slider {
        overflow: hidden;
        background-color: $c-white;
        border-radius: $br-5;
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1 / 0.93;
        opacity: 0 !important;

        &.swiper-slide-active {
            opacity: 1 !important;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.ci-desc {
    flex: 0 0 590px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
    }

    &__text {
        margin-bottom: 15px;
    }

    &__char {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    &__chars {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__chars &__param {
        flex: 0 0 180px;
    }

    &__param {
        color: $c-text-grey;
    }

    &__btn {
        min-height: 39px;
        color: $c-text;
        padding: 10px 20px;
        min-width: auto;

        .vt-btn__text {
            font-size: 16px;
        }
    }
}

.ci-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 0 1 auto;
    margin-left: auto;
    max-width: 387px;
    width: 100%;
}

.ci-price {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto 10px;

    &__current {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 34px;
        line-height: 100%;

        svg {
            color: $c-success;
            width: 22px;
            height: 22px;
        }
    }

    &__old {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        color: $c-text-grey;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: $c-link;
        }
    }
}

.ci-note {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 20px;

    &__icon {
        flex: 0 0 auto;
        color: $c-error-dark;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $c-text-grey;
    }
}