.catalog-item {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 50px;
    }

    &__title {
        max-width: 1360px;
    }
}

.ci-intro {
    display: grid;
    grid-template-columns: minmax(0, 40.879%) minmax(0, 590px) auto;
    gap: 24px;

    @include max(large) {
        grid-template-columns: minmax(0, 28%) minmax(0, 590px) auto;
        gap: 32px 20px;
    }

    @include max(laptop) {
        grid-template-columns: minmax(0, 38%) minmax(0, 590px);
    }

    @include max(tablet) {
        grid-template-columns: minmax(0, 100%) minmax(300px, 300px);
    }

    @include max(mobile) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.ci-media {
    position: relative;
    gap: 24px;
    padding-left: 21%;

    @include max(large) {
        padding-left: 18%;
    }

    &__thumbs {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: calc(21% - 24px);
        overflow: hidden;

        @include max(large) {
            width: calc(18% - 10px);
        }
    }

    &__thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: $c-white;
        height: auto;
        border-radius: $br-5;
        border: 3px solid $c-white;
        cursor: pointer;

        &.swiper-slide-thumb-active {
            border-color: $c-link;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__slider {
        overflow: hidden;
        background-color: $c-white;
        border-radius: $br-5;
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1 / 0.93;
        opacity: 0 !important;

        &.swiper-slide-active {
            opacity: 1 !important;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.ci-desc {
    flex: 0 0 590px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;

    @include max(large) {
        gap: 32px;
    }

    @include max(laptop) {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    @include max(tablet) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        order: 2;
    }

    @include max(mobile) {
        grid-row: auto;
        grid-column: auto;
        order: 1;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;

        @include max(xs) {
            font-size: 16px;
        }
    }

    &__text {
        margin-bottom: 15px;

        @include max(large) {
            font-size: 16px;
        }
    }

    &__char {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;

        @include max(large) {
            font-size: 14px;
        }

        @include max(mobile) {
            font-size: 12px;
        }

        @include max(xs) {
            flex-direction: column;
            gap: 5px;
        }
    }

    &__chars {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        @include max(large) {
            gap: 16px;
        }
    }

    &__chars &__param {
        flex: 0 0 180px;

        @include max(xs) {
            flex: 0 0 auto;
        }
    }

    &__param {
        color: $c-text-grey;
    }

    &__btn {
        min-height: 39px;
        color: $c-text;
        padding: 10px 20px;
        min-width: auto;

        .vt-btn__text {
            font-size: 16px;
        }
    }
}

.ci-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 0 1 auto;
    margin-left: auto;
    max-width: 387px;
    width: 100%;

    @include max(large) {
        max-width: 350px;
    }

    @include max(laptop) {
        margin-left: 0;
    }

    @include max(tablet) {
        max-width: 300px;
    }

    @include max(mobile) {
        order: 3;
        max-width: 100%;
        width: 100%;
    }
}

.ci-price {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto 10px;

    &__current {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 34px;
        line-height: 100%;

        @include max(laptop) {
            font-size: 28px;
        }

        svg {
            color: $c-success;
            width: 22px;
            height: 22px;
        }
    }

    &__old {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        color: $c-text-grey;
        position: relative;

        @include max(laptop) {
            font-size: 18px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: $c-link;
        }
    }
}

.ci-note {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 20px;

    &__icon {
        flex: 0 0 auto;
        color: $c-error-dark;

        svg {
            width: 20px;
            height: 20px;

            @include max(mobile) {
                width: 14px;
                height: 14px;
            }
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $c-text-grey;

        @include max(tablet) {
            font-size: 14px;
        }

    }
}

.ci-chars {
    &__title {
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;

        @include max(laptop) {
            font-size: 32px;
        }

        @include max(tablet) {
            font-size: 26px;
        }

    }

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 24px;
        margin-top: 30px;

        @include max(laptop) {
            flex-wrap: wrap;
            gap: 32px 20px;
        }

        @include max(mobile) {
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    &__column {
        flex: 1 1 33%;
        max-width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        @include max(large) {
            gap: 16px;
        }

        @include max(laptop) {
            flex: 0 0 calc((100% - 20px) / 2);
        }

        @include max(mobile) {
            flex: 0 0 100%;
            gap: 20px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        @include max(large) {
            gap: 16px;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;

        @include max(large) {
            font-size: 18px;
        }

        @include max(xs) {
            font-size: 16px;
        }
    }

    &__row {
        display: flex;
        align-items: flex-end;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;

        @include max(large) {
            font-size: 14px;
        }

        @include max(mobile) {
            font-size: 12px;
        }

        @include max(xs) {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }
    }

    &__param {
        flex: 1 0 auto;
        color: $c-text-grey;
    }

    &__dots {
        min-width: 10px;
        flex: 1 1 100%;
        border-bottom: 1px dotted $c-border;

        @include max(xs) {
            display: none;
        }
    }

    &__value {
        flex: 0 0 auto;
        max-width: 210px;
    }

    &__value--width {
        min-width: 210px;
    }
}